<h1>Users Management</h1>

<%= link_to('New User', new_user_path) if current_user.super_admin? %>

<div class="row mt-4 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
  <%= render @users %>
</div>
